@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-color: #1A1A1A;
}

nav {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

li {
    margin-top: 21px;
}

a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins';
    display: inline-block;
    padding: 16px 32px;
    background-image: linear-gradient(120deg, transparent 50%, #FFF 50%);
    background-size: 250%;
    transition: all 0.4s;
    letter-spacing: 2px;
    font-size: 21px;
}

li:hover a {
    background-position: 100%;
    color: #313131;
    transform: translate(16px);
}